<!DOCTYPE html>
<html>
	<head>
		<title>HI STEVEN</title>
	</head>

	<body>
		<form action="/" method="POST">
			<input type="text" name="original-url" />
			<button type="submit">Submit</button>
		</form>
	</body>
</html>